<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-img">
            <a href="index.html"><img src="/static/images/agency.png" alt="picture"></a>
        </div>
        <ul>
            <li><a href="about-us.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="choose-us.html">Gallery</a></li>
            <li><a href="contact-us.html">Contact</a></li>
        </ul>
        <a href="login.html"><button>Login</button></a>
    </div>
    <div class="contact-container">
        <div class="contact-box">
            <center><h1>Let’s discuss the idea</h1></center>
            <center><p>Comfortable laughter with a touch of displeasure, a dynamic interplay <br>unfolds. A gateway of transitions and refined strength builds up in elegance.</p></center>
            <center><input type="text" placeholder="your email"> <button>SEND</button></center> 
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-box1">
            <h1>Pages</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About</a></li>
                <li><a href="contact-us.html">Contact</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="choose-us.html">Choose us</a></li>
                <li><a href="registration.html">Registration</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
        <div class="footer-box2">
            <h1>Services</h1>
            <ul>
                <li>Branding</li>
                <li>Web development</li>
                <li>Digital marketing</li>
                <li>Mobile app</li>
                <li>SEO</li>
                <li>User testing</li>
            </ul>
        </div>
        <div class="footer-box3">
            <h1>Follow Us</h1>
            <ul>
                <li>Instagram</li>
                <li>Facebook</li>
                <li>Youtube</li>
            </ul>
        </div>
        <div class="footer-box4">
            <img src="/static/images/agency.png" alt="image">
            <h1>Get latest update</h1>
            <input type="text" placeholder="Your email">
        </div>
    </div>
</body>
</html>