<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-img">
            <a href="index.html"><img src="/static/images/agency.png" alt="picture"></a>
        </div>
        <ul>
            <li><a href="about-us.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="choose-us.html">Gallery</a></li>
            <li><a href="contact-us.html">Contact</a></li>
        </ul>
        <a href="login.html"><button>Login</button></a>
    </div>
    <div class="login-container">
        <div class="login-box">
            <h1>Login to your account</h1>
            <h4>Email</h4>
            <input type="text" placeholder="Enter your Email">✉️<br>
            <h4>Password</h4>
            <input type="password" placeholder="Enter your password">🔒<br>
            <a href="#"><h5>Forgot password ?</h5></a>
            <button onclick="LoginAlert()">login</button>
            <p>Don't have an account ?<a href="registration.html">Register</a></p>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>